body {
    font-family: "Roboto", "Arial", sans-serif;
}

.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1141px;
}

.basket_products {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
}


.basket_products_box {
    border-radius: 10px;
    border: 3px solid #55761A;
    background: #FFF;
    width: 890px;
    height: 952px;
    margin: 20px 0 40px 0;
    overflow: auto;
}

.basket_products_decor {
    display: flex;
    border-radius: 10px;
    background: #9EB33E;
    width: 380px;
    height: 635px;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px 0;
    padding: 32px 38px 48px 37px;
}

.basket_products_decorInfo {
    display: flex;
    align-items: stretch;
    gap: 19px;
    flex-direction: column;
}

.basket_products_deleteProduct {
    background: #3b5338;
    border-radius: 25px;
    border: #3b5338 10px;
    width: 85px;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #6fb368;
    margin-left:25px ;
}

h5 {
    width: 400px;
    max-height: max-content;
    margin: 10px;
}



.basket_products_informationDetails {
    width: 413px;
    height: 86px;
    margin: 15px;
}

.basket_products_imgDetails {
    background-image: url("../img/product.svg");
    background-repeat: no-repeat;
    width: 165px;
    height: 175px;
    border-radius: 10px;
}

.basket_products_overview {
    margin: 8px;
}

.basket_products_details {
    display: flex;
    width: 750px;
    margin: 20px;
    align-items: center;
    justify-content: space-around;
}

.basket_products_imgDetailsAddition {
    background: #55761A;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin: 20px 5px 0 0;
}

.basket_products_detailsQuantity {
    margin: 10px;
    height: 50px;
}

.basket_products_imgDetailsMinus {
    background: #55761A;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin: 20px 5px 0 0;
}

button:hover {
    background: #dadb93;
}

.basket_products_decorBtn {
    display: inline-flex;
    justify-content: center;
    padding: 15px 119px 16px 118px;
    align-items: center;
    border-radius: 10px;
    background: #F6F7CD;
    border: none;
    font-size: medium;
    margin-top: 341px;
}