footer {
    background-color: #9EB33E;
    max-width: 100%;
    height: 80px;
    border-radius: 83px;
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

.footer_item {
    display: flex;
    align-items: center;
    gap: 17px;
}